
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

label,input{
    display: inline-block;
    line-height: 30px;
    border-radius: 30px;
    height: 30px;
    outline: none;
    font-size: 18px;
    width: 100%;
    margin-top: 2px;
}

form{
    width: 330px;
     background-color:grey;
     padding:20px;
     margin: 30px 0px;
}

input[type="submit"]{
    margin-left: 115px;
    width: 100px;
    margin-top: 15px;
    background-color: rgba(19, 32, 77, 0.6);
    
}
input[type="submit"]:hover{
    
    background-color: rgba(13, 136, 145, 0.6);
    
}

#esquerda{
    width: 35%;
    float: left;

}
#direita{
    width: 65%;
    float: right;
  
    
}

table{
    width: 90%;
    background-color:rgba(16, 12, 20, 0.6);
    margin: 30px auto;
}

tr{
line-height: 30px;
}

tr#titulo{
 font-weight: bold;
 background-color: rgba(0, 0, 0, .6);
 color:white;
    
    
    }
    td{
        padding: 0px 5px ;
    }

    a{
        padding: 5px;
        color: rgb(0, 0, 0);
        margin: 0 1px;
        text-decoration: none;
        border-radius: 40px;
    }
    a#editar{

        background-color:green;
    }
    a#excluir{

        background-color:red;
    }
    a#editar:hover{

        background-color:rgb(129, 218, 129);
    }
    a#excluir:hover{

        background-color:rgb(197, 86, 86);
    }

    h2{
        text-align: center;
    }

    .aviso{

        width: 90%;
        height: 50px;
        margin: auto;
    }

    h4{
        float: left;
        
    }